@model DevQuizzMVC.DTO.AnswerQuizzDTO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Ajouter une réponse</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AnswerText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswerText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswerText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isCorrect, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.isCorrect)
                    @Html.ValidationMessageFor(model => model.isCorrect, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionQuizzId, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuestionQuizzId, new { htmlAttributes = new { @class = "form-control" , @Value = ViewBag.QuestionDTO.Id, @type="hidden"}})
                @*@Html.Raw(ViewBag.QuestionDTO.Id)*@
                @*@Html.TextBoxFor(model => model.QuestionQuizzId, new { htmlAttributes = new { @class = "form-control", @Value = "5" } }*@
                @*@Html.DisplayFor(model => model.QuestionQuizzId, new { htmlAttributes = new { @class = "form-control", @Value = "5" } })*@
                @*@Html.ValidationMessageFor(model => model.QuestionQuizzId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Créer" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour", "Index", new { id = ViewBag.QuestionDTO.Id} )
</div>
