@model DevQuizzMVC.DTO.AnswerQuizzDTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Supprimer la réponse</h2>

<h3>Etes vous sûr de vouloir supprimer la réponse?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnswerText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isCorrect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isCorrect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionQuizzId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionQuizzId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour", "Index", new { id = ViewBag.QuestionDTOId })
        </div>
    }
</div>
