@model DevQuizzMVC.DTO.AnswerQuizzDTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AnswerQuizzDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnswerText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isCorrect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isCorrect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionQuizzId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionQuizzId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { id = ViewBag.QuestionDTO.Id })
        </div>
    }
</div>
