@model IPagedList<DevQuizzMVC.DTO.AnswerQuizzDTO>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2>Index</h2>
<p>
    @Html.ActionLink("Ajouter une réponse", "Create", new { id = ViewBag.QuestionDTO.Id })
</p>

<div class="container">
    <table class="table table-striped table-hover">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AnswerText)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.isCorrect)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, i => Url.Action("Index", "Answer", new { i, search = Request.QueryString["search"] }))
</div>