@model DevQuizzMVC.DTO.QuestionQuizzDTO
@using DevQuizzMVC.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<body>

    <div class="container doquizz">
        <h1 class="titlequizz">@ViewBag.QuizzDTO.Title</h1>
        <br />
        <h2 class="questionquizz">Question @Model.NumOrder: @Model.QuestionText</h2>
        <h3 class="formquizz">

            @using (Html.BeginForm("Next", "Quizz", FormMethod.Post,new { @class = "quizzform" }))
            {

                foreach (var answer in Model.AnswersQuizzDTO)
                {

                    if (!Model.isMultiple)
                    {
                        @Html.RadioButton("selectedSimpleReponse", @answer.Id ,new {@class="radioquizz" , @style = "margin-right: 10px"});


                    }
                    if (Model.isMultiple)
                    {
                        <input type="checkbox" name="selectedRep[]" value="@answer.Id" />

                    }
                    @answer.AnswerText
                    <br />
                }
                <input type="submit" name="Suivant" value="Suivant" class="btn btn-info" />
                //@Html.ValidationMessageFor(model => model.AnswersQuizzDTO, ViewBag.Error, new { @class = "text-danger" })
                
            }
            
        </h3>
        <p class="text-danger">@ViewBag.Error</p>
    </div>
    
</body>

