@model DevQuizzMVC.DTO.QuestionQuizzDTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Supprimer une question</h2>

<h3>Etes vous sûr de vouloir supprimer cette question?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isMultiple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isMultiple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuizzId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizzId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour", "Index", new { id = ViewBag.QuizzDTOId })
        </div>
    }
</div>
