@model IPagedList<DevQuizzMVC.DTO.QuestionQuizzDTO>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>Liste des questions</h2>

<div class="container">

    <p>
        @Html.ActionLink("Ajouter une question", "Create", new { id = ViewBag.QuizzDTO.Id })
    </p>


    <table class="table table-striped table-hover">
        <tr>
            <td>

                @ViewBag.QuizzDTO.Title

            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>

                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Liste des réponses", "Index", "Answer", new { id = item.Id, search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"], i = Request.QueryString["i"] }, null) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>

    @Html.PagedListPager(Model, i => Url.Action("Index", "Question", new { i, search = Request.QueryString["search"] }))
<br />
<div>@Html.ActionLink("Retour aux quizz","Index","Quizz")</div>
</div>





